<header>
    <div class="header-1">
        <div class="header-2">
                <button class="menu-button" [class.open]="isMenuOpen()" (click)="toggleMenu()">
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                </button>
            <div class="logo">
                <img src="/kbtu_logo.png" alt="kbtu logo" width="120" height="34">
            </div>
            <div class="logo">
                <a routerLink="/profile">
                    <img src="/account_logo.webp" alt="account logo" width="34" height="34">
                </a>
            </div>
        </div>
    </div>
    <nav class="mobile-nav" [class.open]="isMenuOpen()">
        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Main</a></li>
            <li><a routerLink="/schedules" routerLinkActive="active" (click)="closeMenu()">Schedule</a></li>
            <li><a routerLink="/buffets" routerLinkActive="active" (click)="closeMenu()">Canteens</a></li>
            <li><a routerLink="/profile" routerLinkActive="active" (click)="closeMenu()">Profile</a></li>
            @if (!isLoggedIn()) {
                <li><a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Log in</a></li>
            }
            @if (isLoggedIn()) {
                <li><button (click)="logout(); closeMenu()">Log out</button></li>
            }
        </ul>
    </nav>
</header>

<main class="content" (click)="closeMenu()">
    <router-outlet></router-outlet>
</main>
