header{
    position: fixed;
    height: 34px;
    align-items: center;
    display: flex;
    flex-direction: row;
    line-height: 24px;
    text-size-adjust: 100%;
    z-index: 1;
    /* width: 100%; */
}
.header-1{
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    position: fixed;
}
.header-2{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.menu{
    color: black;
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    flex-shrink: 1;
}
.menu-button{
    padding: 4px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.menu-line{
    color: rgba(0, 47, 108);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-top-width: 0.8px;
    width: 22px;
}

