<header>
        <div class="header-1">
            <div class="header-2">
                <div class="menu">
                    <button class="menu-button">
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                    </button>
                </div>
                <div class="logo">
                    <img src="kbtu_logo.png" alt="kbtu logo" height="34px">
                </div>
                <div class="logo">
                    <img src="account_logo.webp" alt="account logo" height="34px">
                </div>
            </div>
        </div>
    </header>